extends layout

block content
  p.lead Dr Saab - Care your loved ones in Nepal
  hr
  .row
    .col-md-6
      h4 Preventive Care
      p Book packages with us to take care of annual checkups and body conditions. Know about the health of your loved ones and guidence on how to go for through checkup with doctors in major cities of Nepal.
    .col-md-6
      h4 Home Services  
      p Book a doctor with us to visit your family members and get their health results. We handle eveything from seting up doctors, required nurses in major cities of Nepal
    .col-md-6
      h4 Lab Tests
      p We do our test analysis on renowned labs of Nepal. The samples will be carried by health professional after the doctor/nurse take sample for your loved ones. The labs will send us the results which will be forwarded to you.
    .col-md-6
      h4 Reports Delivery
      p Reports of your family members will be checked by renowned physicians from Nepal already working for major hospitals. They will create the analysis report based on test results to explain you about the real condition of patient and list of needed care for future
    .col-md-6
      h4 Payment in USA
      p You can book an appointment from our team in US and pay for all the services in Nepal without having hasttle to send money to nepal to take care of your family.
    .col-md-6
      h4 Health Care Packages
      p Reports of your family members will be checked by renowned physicians from Nepal already working for major hospitals. They will create the analysis report based on test results to explain you about the real condition of patient and list of needed care for future