extends layout


block content
  p.lead Packages
  hr
  .row
    .col-md-6
      h4 Basic Package
      p Book basic package
    .col-md-6
      h4 Mid Package  
      p Book Mid Package
    .col-md-6
      h4 High Package
      p This is some good shit right here yo!


      
      